%hr.featurette-divider

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Find a
        %a{:href => "typingclub.com"} typing program,
        and get your own email address.
        %span.text-muted It is extremely useful.


      %p
        .form-group.has-success
          %label.control-label{:for => "inputSuccess1"} A valid web address input
          %input#inputSuccess1.form-control{:type => "text", :placeholder => "allrecipes.com"}/
        .form-group.has-warning
          %label.control-label{:for => "inputWarning1"} An almost valid URL (web address) input that needs a "dot com"
          %input#inputWarning1.form-control{:type => "text", :placeholder => "allrecipes"}/
        .form-group.has-error
          %label.control-label{:for => "inputError1"} Not a valid web address input
          %input#inputError1.form-control{:type => "text", :placeholder => "cta bus tracker.com"}/



      %ul
        %li
          Check if you are logged into
        %a{:href => "http://spanish-coalition.typingclub.com", :target => "_blank"}
          Typing Club.
        (recommended)
        %em Also check also to see if you are logged out!
        %li hardware naming, synonyms for windows, (opp to incl. Spanish)
        %li mouse usage, drawing simple shapes
        %li solidify login and logout procedures.
        %a{:href => "/quizzes"}
          %li Try a quiz

    .col-md-5
      %ol.lead
        %li
          Learn to use
          %kbd ctrl + N
          to
          %strong
            open a new window



  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Drag the mouse, and everything in blue is
        %strong
          %div#highlight-example highlighted.

        %span.text-muted Grasp the concept of cutting and pasting.
    .col-md-5
      %ol.lead
        %li
          Learn to use
          %kbd ctrl + C
          to
          %strong
            copy
        %li
          Learn to use
          %kbd ctrl + V
          to
          %strong
            paste
        %li
          Learn to use
          %kbd ctrl + A
          to
          %strong
            select "ALL"
        %li
          Highlighting, and how to remove highlighting by clicking outside of it.
      %ol
        %strong
          Try to copy and paste yourself:
        %textarea.form-control{:rows => "5"}
      %ul
        %li Typing
        %li Intro to drag and drop. highlighting
        %li humans can move a cup of coffee...computers must copy it first.
        %li calculator program.
        %li the number pad, numlock key
        %li capital letters, capslock key
        %li read to self article (opp to incl. Spanish)


  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        3rd WEEK

      %p Application of skills to Microsoft Word
      %ol
        %li Typing
        %li "Professor Teaches"
        %li program used at all sites
        %li breakdown of Word,
        %li familiarization w/ other MS programs (excel)
        %li (TBA) using your new USB
        %li updating a resume
        %li bold, italics, bullets, etc.
        %li spellcheck (opp to incl. Spanish)
        %li internet task: find a resume example.
        %li read to self article

    .col-md-5
    %ol
      %li
        Learn about using
        %kbd ctrl + (+)
        or
        %kbd ctrl + (-)
        to
        %strong
          make web text bigger / smaller to read

  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        4th WEEK
      %p Using the Internet.
      %ol
        %li Typing
        %li Cutting and pasting to your email.
        %li Personalized Typing lessons (student assessment req.)
        %li read
        %li to
        %li self article

  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        5th WEEK/Workshop
      %p
        Using maps on the Internet (public transit) and/or Review (mandatory if attendance 85 percent)
        + Private Browsing Workshop
        + Maps and Transit Workshop
        + LibreOffice nonprofit Word for home Workshop
        %li Any review help


  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        6th Week Final
      %p
      %ol
        %li
          Learn to use
          %kbd ctrl + F
          to
          %strong
            open a find text in a webpage
      %ol
        %li Typing Assessment
        %li Instructor
        %li Handing out any "Certificate of Completions"
        %li (add) Any other 'incentive'.
        %li Testing any new material on students.
        [1] All Classes start with typing for 30min at the beginning of class.


        %ul.pagination#pagibox
          %li.disabled
            %a{:href => "#"} &laquo;
          %li.active
            %a{:href => "#"}
              1
              %span.sr-only (current)
              \...
